<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="filename">./logs</Property>
    </Properties>
    <Appenders>
        <RollingFile name="file"
                     fileName="${filename}/logdemo.Log"
                     filePattern="${filename}/Logdemo-%d{HH:mm:ss.SSS}.Log">
                    <PatternLayout>
                        <pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
                    </PatternLayout>
                    <SizeBasedTriggeringPolicy size="2 KB"/>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="SocialNetwork" level="info" additivity="false">
            <AppenderRef ref="file"/>
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="trace">
            <AppenderRef ref="Console" level="info"/>
            <AppenderRef ref="file" level="trace"/>
        </Root>
    </Loggers>
</Configuration>