src/resources/*.properties
target/
logs/
.idea/
socialnetwork.iml
.DS_Store/
/shelf/
/workspace.xml
.DS_Store
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
src/main/java/com.solvd.socialnetwork/.DS_Store

